{% extends 'base/base.html' %}

{% block contenido %}
</div>
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="col-md-6 px-6">
    <div class="centrar">
     
    
    </div>
    <h1 class="display-1 fst-italic"></h1>
    <p class="lead my-1"><h1>ONG Obrando en tí</h1> </p>
  <br>
  <h3> Somos un organismo, cuya meta es brindar todas las posibilidades a nuestro alcance para que cada persona pueda mejorar o ampliar su hogar y cuente con una vivienda digna. </h3>

  </div>

</main>		


<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Misión</strong>
      <p class="card-text mb-auto">   Buscamos ofrecer tanto un clima de transparencia en nuestros procesos administrativos como una comunicación funcional para acompañar a las personas en todo el proceso y así solucionar una de sus preocupaciones más grandes, tener su vivienda propia.</p>
    </div>
    <div class="col-auto d-none d-lg-block">
<br>

    </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">Visión</strong>
      <p class="mb-auto"> Nuestro proposito a futuro es que muchas familias puedan concretar el sueño de una vivienda propia y para ello buscamos crecer, siendo cada vez mas quienes trabajemos para que esto se cumpla.</p>
    </div>
    <div class="col-auto d-none d-lg-block">
    </div>
    </div>
    </div>
  </div>
  </div>

  <div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-success">Directivos</strong>
    <p class="mb-auto"> Presidente:	Romero Norma <br>Secretaria: Salina Maira <br>Tesorero: Godoy Esteban </p>
    <div class="col-auto d-none d-lg-block">
    </div>
  </div>
  </div>

  




</div>



<footer class="blog-footer">
<p>Ir a <a href="https://facebook.com/">Facebook</a> by <a href="https://twitter.com/">twitter</a>.</p>
<p>
  Contactos:<br>
  Tel: 3624371975<br>
  fundacionobrandoenti@hotmail.com
</p>
</footer>

{% endblock contenido %}


  


